@import url("https://fonts.cdnfonts.com/css/game-of-squids");
@import url("https://fonts.cdnfonts.com/css/digital-numbers");
@import "tailwindcss";

html {
  --base-color: #000000;
  --second-base-color: #476bd0;
  --primary-color: #efeefc;
  --button-color: #6d28d9;
  --border-color: #c7acef;
  --link-color: #8856de;
  --border-radius: 12px;
  scroll-behavior: smooth;
  --radial-gradient: radial-gradient(circle, #C6D5FF, #476BD0, #000000);
}

body {
  background-color: var(--base-color);
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--primary-color);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  padding: 10px 20px;
  gap: 24px;
  border-radius: 60px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: #ffcc00; /* Change this color on hover */
}
.sponsor {
  font-family: "Game Of Squids", sans-serif;
  font-weight: 400;
  font-size: 68.43px;
  overflow: hidden;
  text-align: center;
}

.sponsor > div > img {
  border-radius: 1000px;
}

.timer {
  font-family: "Digital Numbers", sans-serif;
}

.Home {
  user-select: auto;
  pointer-events: none;
}

td {
  color: red;

  padding: 3px;
}


/* games page css */


.gamesPage h1{
  font-family: "Game Of Squids", sans-serif;
  font-weight: 400;
  font-size: 68.43px;
  text-align: center;
}

.gamesContainer{
  max-width: 1300px;
  margin-inline: auto;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  /* height: calc(100vh - 180px); */
}

.gamesContentDiv{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-block: 2rem;
}

.gamesContentReverseFlex{
  display: flex;
  flex-direction: row-reverse;
}

.gameTextContent{
  max-width: 50%;
  width: 100%;

}

.gameTextContent *{
  margin-bottom: 1rem;
}

.gameTitle{
  font-size: 56px;
  font-weight: 700;
  background: var(--radial-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.gameTextContent p{
  margin-bottom: 2rem;
}

.gameTextContent a{
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #476BD0;
  padding: 20px 26px;
  border-radius: 50px;
  max-width: 220px;
  /* width: 100%; */
  height: 70px;
  background: linear-gradient(90deg, #c6d5ff00, #476cd098, rgba(0, 0, 0, 0.373));
  opacity: 0.8;
}

.gameTextContent a:hover{
  background: linear-gradient(90deg, #c6d5ff99, #476cd069, rgba(0, 0, 0, 0.373));

}

.gameTextContent a:hover img{
  
  transform: scale(1.09);

}

.gameTextContent a img{
  width: 26px;
  height: 22px;
}


.gameImageDiv img{
  width: 450px;
  height: 450px;
}

.randomShapeImage{
  
  position: absolute;
  /* bottom: 0; */
  right: 50%;
  bottom: -16%;
  /* transform: translateY(100%); */
  transform: rotate(270deg);
}


@media (max-width:1100px){
  .gameImageDiv img{
    max-width: 400px;
    width:100%;
   max-height: 400px;
   height: 100%;
  }
  .gameTextContent{
    max-width: 55%;
  }
}



/*  speaker page css */

#speaker{
  margin-block: 2rem 5rem;
}

.speakerTitle{
  font-family: "Game Of Squids", sans-serif;
  font-weight: 400;
  font-size: 68.43px;
  text-align: center;
}

.listOfSpeakers{
  overflow-x: hidden;
  padding: 3rem 2rem;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 200px;
  margin-inline: auto;

}

/* .listOfSpeakers{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 100px;
  margin-inline: auto;
  margin-top: 2rem;
} */

.individualSpeaker{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;

}

.circleImage {
  transform: rotate(18deg);
}

.rectangleImage{
  transform: rotate(270deg);
}

.triangleImage{
  transform: rotate(120deg);
}

.personImage{
  position: absolute;
  top: 30px;
  width: 300px;
  transition: transform 0.3s ease-in-out;

}

.personImage:hover{
  transform: scale(1.09);
}

.personDetails{
  text-align: center;
  position: relative;
  margin-top: 104px;
}

.personName{
  font-size: 24px;
  font-weight: 500;
}

.personDesignation{
  font-size: 20px;
  font-weight: 300;
}



.trianglePersonImage{
  top: 15px;
  left:-15%;
}

.triangleDetails{
  bottom: -15px;
}

@
