@import url("https://fonts.cdnfonts.com/css/game-of-squids");
@import url("https://fonts.cdnfonts.com/css/digital-numbers");
@import "tailwindcss";

html {
  --base-color: #000000;
  --second-base-color: #476bd0;
  --primary-color: #efeefc;
  --button-color: #6d28d9;
  --border-color: #c7acef;
  --link-color: #8856de;
  --border-radius: 12px;
  scroll-behavior: smooth;
  --radial-gradient: radial-gradient(circle, #c6d5ff, #476bd0, #000000);
  overflow-x: hidden;
}

body {
  background-color: var(--base-color);
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--primary-color);
}

.navbar {
  padding: 10px 20px;
  gap: 24px;
  border-radius: 60px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  color: #d0d0d0;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  font-weight: normal;
}

.navbar-menu a:hover {
  color: white;

  font-weight: bold;
  /* Change this color on hover */
}

.sponsor {
  font-family: "Game Of Squids", sans-serif;
  font-weight: 400;
  overflow: hidden;
  text-align: center;
}

.sponsor > div > img {
  border-radius: 1000px;
}

.timer {
  font-family: "Digital Numbers", sans-serif;
}

.Home {
  user-select: auto;
  pointer-events: none;
}

td {
  color: red;

  padding: 3px;
}

/*  about page css */

.aboutPage{
  padding: 2rem;
}

.aboutPage h1{
  text-align: center;
}

@media(max-width:1000px){
  .aboutImage{
    max-width: 500px;
  }
}
@media(max-width:750px){
  .about-part-1, .about-part-2, .about-part-3{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .about-part-1{
    flex-direction: column-reverse;
    align-items: center;
  }

  

   .about-part-2 {
    gap:20px
  }

  .about-part-3 {
    margin-top: 20px;
  }

  .w-1\/2{
    width: 100%;
  }
}




/* games page css */

.gamesPage h1 {
  font-family: "Game Of Squids", sans-serif;
  font-weight: 400;
  font-size: 68.43px;
  text-align: center;
}

.gamesContainer {
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.gamesContentDiv {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-block: 2rem;
}

.gamesContentReverseFlex {
  display: flex;
  flex-direction: row-reverse;
}

.gameTextContent {
  max-width: 50%;
  width: 100%;
  font-family: lexend;
  size: 24px;
}

.gameTextContent h2{
  text-align: start;
}

.gameTitle {
  font-size: 56px;
  font-weight: 700;
}


.ruleBookLink {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #476bd0;
  padding: 20px 26px;
  border-radius: 50px;
  max-width: 220px;
  /* width: 100%; */
  height: 70px;
  background: linear-gradient(
    90deg,
    #c6d5ff00,
    #476cd098,
    rgba(0, 0, 0, 0.373)
  );
  opacity: 0.8;
}

.ruleBookLink:hover {
  background: linear-gradient(
    90deg,
    #c6d5ff99,
    #476cd069,
    rgba(0, 0, 0, 0.373)
  );
}

.ruleBookLink:hover img {
  transform: scale(1.09);
}

.ruleBookLink img {
  width: 26px;
  height: 22px;
}

.gameImageDiv img {
  width: 450px;
  height: 450px;
  border-radius: 15px;
}

.randomShapeImage {
  position: absolute;
  /* bottom: 0; */
  right: 50%;
  bottom: -16%;
  /* transform: translateY(100%); */
  transform: rotate(270deg);
}

@media (max-width: 1100px) {
  .gameImageDiv img {
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
  }
  .gameTextContent {
    max-width: 55%;
  }
}

@media (max-width:780px) {

  .gamesContentReverseFlex {
    display: block;
  }
  .gamesContentDiv {
    display: block;
  }

  .gameTextContent {
    max-width: 100%;
  }

  .image-text-div{
  flex-direction: column;
  max-width: 100%;

  }
  .gamesContentReverseFlex .image-text-div{
    display: block;
    flex-direction: column;
  }
  .image-text-div img{
    max-width: 100%;
  }
  .text-link-div{
    max-width: 100%;
  }
  .readMoreButton{
    margin-bottom: 2rem;
  }

  .gameTitle {
    font-size: 45px;
    margin-bottom: 1rem;
  }
  .ruleBookLink{
    padding-inline: 17px;
  }
  
}

/*  speaker page css */

#speaker {
  margin-block: 2rem 5rem;
}

.speakerTitle {
  font-family: "Game Of Squids", sans-serif;
  font-weight: 400;
  text-align: center;
}

.listOfSpeakers {
  overflow-x: hidden;
  padding: 3rem 2rem;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 200px;
  margin-inline: auto;
}


.individualSpeaker {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.circleImage {
  transform: rotate(18deg);
}

.rectangleImage {
  transform: rotate(270deg);
}

.triangleImage {
  transform: rotate(120deg);
}

.personImage {
  position: absolute;
  top: 30px;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.personImage:hover {
  transform: scale(1.09);
}

.personDetails {
  text-align: center;
  position: relative;
  margin-top: 104px;
}

.personName {
  font-size: 24px;
  font-weight: 500;
}

.personDesignation {
  font-size: 20px;
  font-weight: 300;
}

.trianglePersonImage {
  top: 15px;
  left: -15%;
}

.triangleDetails {
  bottom: -15px;
}


.squidFont {
  font-family: "Game Of Squids";
}

/* Glimpse page css */

.glimpsePage {
  display: flex;
  flex-direction: column;
}

.glimpseTitle {
  font-family: "Game Of Squids", sans-serif;
  font-weight: 400;
  font-size: 68.43px;
  text-align: center;
}


.grid-container {
  max-width: 1200px;
  max-height: 700px;
  width: 100%;
  height: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  margin: 2rem auto;
}

.grid-item {
  background-color: white;
  border: 1px solid #ddd;
}

.item1 {
  grid-row-start: span 2;
  grid-column-start: 1;
}

.item2 {
  grid-column-start: span 2;
}

.item3 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.item4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  background-color: black;
  border: 0px;
}

.middleHeading {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
  font-size: 55.43px;
  text-align: center;
}

.item4 {
  line-height: 40px;
}

.item5 {
  grid-row-start: span 2;
}


/* loader css */
.loader {
  --path: #2f3545;
  --dot: #5928ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}
.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}
.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader.triangle {
  width: 48px;
}
.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  -webkit-animation: dotTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@-webkit-keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}
@-webkit-keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(10px, -18px);
  }
  100% {
    transform: translate(-10px, -18px);
  }
}
@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(10px, -18px);
  }
  100% {
    transform: translate(-10px, -18px);
  }
}
@-webkit-keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@-webkit-keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
.loader {
  display: inline-block;
  margin: 0 16px;
}

html {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}