@import url("https://fonts.cdnfonts.com/css/game-of-squids");
@import url("https://fonts.cdnfonts.com/css/digital-numbers");
@import "tailwindcss";

html {
  --base-color: #000000;
  --second-base-color: #476bd0;
  --primary-color: #efeefc;
  --button-color: #6d28d9;
  --border-color: #c7acef;
  --link-color: #8856de;
  --border-radius: 12px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--base-color);
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--primary-color);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  padding: 10px 20px;
  gap: 24px;
  border-radius: 60px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: #ffcc00; /* Change this color on hover */
}
.sponsor {
  font-family: "Game Of Squids", sans-serif;
  font-weight: 400;
  font-size: 68.43px;
  overflow: hidden;
}

.timer {
  font-family: "Digital Numbers", sans-serif;
}

.Home {
  user-select: auto;
  pointer-events: none;
}

td {
  color: red;

  padding: 3px;
}
